.aboutWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    font-family: 'Poppins', sans-serif;
}
.container {
    -webkit-transition: background .3s,border .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;
    transition: background .3s,border .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;
    -o-transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;
    position: relative;
    overflow: hidden;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 70px;
    padding-bottom: 70px;
    border-bottom: 1px solid #585d65;
    z-index: 12;
    width: 100%;
}
.content {
    position: relative;
    max-width: 820px;
}
.title {
    position: relative;
    margin: 0 0 60px;
}
.h2Title {
    margin: 0 0 10px;
    max-width: 70%;
    font-size: 49px;
    line-height: 1.2;
    color: #fff;
    font-weight: 800;
    transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
}
.subtitle {
    font-size: 14px;
    line-height: 1.2;
    color: #68e0cf;
    font-weight: 600;
    text-transform: uppercase;
}
.personalStatement::after {
    content: '';
    position: relative;
    clear: both;
    display: block;
}
.personalStatement {
    line-height: 1.8;
    word-wrap: break-word;
    color: #ffffff;
}
.paragraph {
    font-size: 14px;
    padding: 0;
    margin: 30px 0;
    text-align: justify;
}
.unorderedList {
    list-style: none;
    margin: 0 -20px;
    padding: 0;
    font-size: 0;
    color: #ffffff;
}
.listItem {
    margin: 0 0 6px;
    padding: 0 20px;
    display: inline-block;
    vertical-align: top;
    width: 50%;
    font-size: 14px;
    font-weight: 600;
}
.strongTag {
    display: inline-block;
    vertical-align: top;
    width: 100px;
    font-weight: 600;
    text-transform: uppercase;
    color: #68e0cf;
}

/*  X-Small devices (portrait phones, less than 576px) */
@media (min-width: 300px) and (max-width: 576px) { 
    .h2Title {
        font-size: 35px;
        margin: 0 auto 10px;
    }
    .title {
        margin-bottom: 40px;
        text-align: center;
    }
    .unorderedList {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 60px);
    }
    .strongTag {
        width: 100%;
    }
 }

/* // Small devices (landscape phones, less than 768px) */
@media (min-width: 577px) and (max-width: 767.98px) { 
    
 }

/* // Medium devices (tablets, less than 992px) */
@media (min-width: 767.99px) and (max-width: 991.98px) { 
    
 }