.portfolioWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    font-family: 'Poppins', sans-serif;
}
.container {
    -webkit-transition: background .3s,border .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;
    transition: background .3s,border .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;
    -o-transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;
    position: relative;
    overflow: hidden;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 70px;
    padding-bottom: 70px;
    border-bottom: 1px solid #585d65;
    z-index: 12;
    width: 100%;
}
.content {
    position: relative;
    max-width: 820px;
}
.title {
    position: relative;
    margin: 0 0 60px;
}
.h2Title {
    margin: 0 0 10px;
    max-width: 70%;
    font-size: 49px;
    line-height: 1.2;
    color: #fff;
    font-weight: 800;
    transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
}
.subtitle {
    font-size: 14px;
    line-height: 1.2;
    color: #68e0cf;
    font-weight: 600;
    text-transform: uppercase;
}
.form {
    padding-right: 40px;
    float: left;
    width: 45%;
}
.info {
    padding: 45px 30px;
    float: right;
    width: 55%;
    min-height: 482px;
    border: 1px solid #585d65;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -khtml-border-radius: 30px;
}
.clear {
    clear: both;
}
.formGroup {
    position: relative;
    margin-bottom: 40px;
}
.label {
    padding: 0 10px;
    position: absolute;
    left: 35px;
    top: -5px;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    font-weight: 800;
    background: #373b40;
        background-color: #373b40;
    text-transform: uppercase;
    z-index: 2;
}
.strong {
    font-weight: 700;
    color: #68e0cf;
}
.para {
    margin: 0;
}
.span {
    color: #fff;
    position: relative;
    font-size: 14px;
}
.inputText {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0 30px;
    display: block;
    font-family: "Poppins";
    font-size: 13px;
    height: 64px;
    width: 100%;
    color: #fff;
    background: 0 0 !important;
    border: 1px solid #585d65;
    resize: none;
    outline: 0;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -khtml-border-radius: 30px;
    transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
}
.textArea {
    height: 170px;
    padding: 30px;
    resize: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    font-family: "Poppins";
    font-size: 13px;
    width: 100%;
    color: #fff;
    background: 0 0 !important;
    border: 1px solid #585d65;
    outline: 0;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -khtml-border-radius: 30px;
    transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
}
.formBtn {
    padding:0; 
    margin:0;
    border:0;
    background-color:transparent;
}
.submitBtn {
    padding: 0 35px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    height: 64px;
    line-height: 62px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    background: 0 0;
    outline: none;
    border: 1px solid #585d65;
    cursor: pointer;
    border-radius: 64px;
    -moz-border-radius: 64px;
    -webkit-border-radius: 64px;
    -khtml-border-radius: 64px;
    transition: 1s all cubic-bezier(.165,.85,.45,1) 0s;
    -moz-transition: 1s all cubic-bezier(.165,.85,.45,1) 0s;
    -webkit-transition: 1s all cubic-bezier(.165,.85,.45,1) 0s;
    -o-transition: 1s all cubic-bezier(.165,.85,.45,1) 0s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.btnAnimation {
    position: relative;
    top: -1px;
    display: inline-block;
    vertical-align: middle;
    line-height: 16px;
}
.submitBtnSpan {
    text-shadow: 0 16px 0 #68e0cf;
    position: relative;
    overflow: hidden;
    display: block;
}
.icon {
    margin-left: 7px;
    transition: 1s all cubic-bezier(.165,.85,.45,1) 0s;
    -moz-transition: 1s all cubic-bezier(.165,.85,.45,1) 0s;
    -webkit-transition: 1s all cubic-bezier(.165,.85,.45,1) 0s;
    -o-transition: 1s all cubic-bezier(.165,.85,.45,1) 0s;
}
.name {
    margin: 0 0 14px;
    font-size: 19px;
    color: #fff;
    font-weight: 800;
}
.subName {
    font-size: 11px;
    color: #68e0cf;
    font-weight: 600;
    text-transform: uppercase;
}
.infoList {
    margin: 35px 0 50px;
}
.unorderedList {
    list-style: none;
    margin: 0 -20px;
    padding: 0;
    font-size: 0;
}
.listItem {
    margin: 0 0 12px;
    padding: 0 20px;
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    font-weight: 600;
    position: relative;
    white-space: nowrap;
    width: 100%;
    color: #fff;
}
.strongListItem {
    margin-right: 8px;
    width: auto;
    display: inline-block;
    vertical-align: top;
    width: 90px;
    font-weight: 600;
    text-transform: uppercase;
    color: #68e0cf;
}
.author {
    font-family: "Mr Dafoe", cursive;
    font-size: 32px;
    color: #fff;
}
.warning {
    padding: 0;
    margin: 0;
        margin-top: 7px;
    text-align: center;
    font-size: 11px;
    color: red;
    font-weight: 800;
    text-transform: uppercase;
}
.success {
    padding: 0;
    margin: 0;
        margin-top: 7px;
    text-align: center;
    font-size: 11px;
    color: green;
    font-weight: 800;
    text-transform: uppercase;
}

/*  X-Small devices (portrait phones, less than 576px) */
@media (min-width: 300px) and (max-width: 576px) { 
    .h2Title {
        margin: 0 auto 10px;
        font-size: 35px;
    }
    .title {
        margin-bottom: 40px;
        text-align: center;
    }
    .form {
        padding-right: 0;
        float: none;
        width: 100%;
    }
    .info {
        margin-top: 40px;
        float: none;
        width: 100%;
        min-height: 482px;
    }
    .formBtn {
        margin: 0 auto;
        display: block;
    }
 }

/* // Small devices (landscape phones, less than 768px) */
@media (min-width: 577px) and (max-width: 767.98px) { 
    .form {
        padding-right: 0;
        float: none;
        width: 100%;
    }
    .info {
        margin: 40px;
        float: none;
        width: 100%;
        min-height: 482px;
    }
 }

/* // Medium devices (tablets, less than 992px) */
@media (min-width: 767.99px) and (max-width: 991.98px) { 
    
 }