html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #373b40;
  text-rendering: optimizeLegibility;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header em, section em {
  min-width: 5px;
  display: inline-block;
  vertical-align: middle;
  font-style: normal;
  backface-visibility: hidden;
  transition: transform .3s ease;
  -moz-transition: transform .3s ease;
  -webkit-transition: transform .3s ease;
      transition-delay: 0s;
  -o-transition: transform .3s ease;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
}
header a:hover em, header #home:hover em, header #about:hover em, header #resume:hover em, header #portfolio:hover em, header #contact:hover em, section #contactBtn:hover em, section #formBtn:hover em {
  transform: translateY(calc(16px*-1));
  -webkit-transform: translateY(calc(16px*-1));
  -moz-transform: translateY(calc(16px*-1));
  -o-transform: translateY(calc(16px*-1));
}
section #formBtn:hover #submitBtn {
  border: 1px solid #68e0cf;
}
section #formBtn:hover #icon {
  color: #68e0cf;
  transform: translateX(6px);
  -webkit-transform: translateX(6px);
  -moz-transform: translateX(6px);
  -o-transform: translateX(6px);
}
header #home {
  margin-left: 0;
}
header li {
  margin-left: 40px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  cursor: pointer;
}
.rightMain {
  /* position: relative;
  display: flex;
  margin-right: auto;
  margin-left: auto; */
}
#welcome .animated {
  padding: 0;
  width: 64px;
  font-size: 18px;
  text-align: center;
  margin-right: 15px;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 64px;
  line-height: 62px;
  text-transform: uppercase;
  background: 0 0;
  outline: none;
  border: 1px solid #585d65;
  cursor: pointer;
  color: #fff;
  font-weight: 800;
  border-radius: 64px;
  -moz-border-radius: 64px;
  -webkit-border-radius: 64px;
  -khtml-border-radius: 64px;
  transition: 1s all cubic-bezier(.165,.85,.45,1) 0s;
  -moz-transition: 1s all cubic-bezier(.165,.85,.45,1) 0s;
  -webkit-transition: 1s all cubic-bezier(.165,.85,.45,1) 0s;
  -o-transition: 1s all cubic-bezier(.165,.85,.45,1) 0s;
}
.em1 {
  transition-delay: .025s;
}
.em2 {
  transition-delay: .05s;
}
.em3 {
  transition-delay: .075s;
}
.em4 {
  transition-delay: .1s;
}
.em5 {
  transition-delay: .125s;
}
.em6 {
  transition-delay: .15s;
}
.em7 {
  transition-delay: .175s;
}
.em8 {
  transition-delay: .2s;
}
.em9 {
  transition-delay: .225s;
}
.em10 {
  transition-delay: .25s;
}
.em11 {
  transition-delay: .275s;
}
.em12 {
  transition-delay: .3s;
}
.em13 {
  transition-delay: .325s;
}
.em14 {
  transition-delay: .35s;
}

#fadeIn {
  animation: fadeIn 1s ease;
}

#fadeOut {
  animation: fadeOut 1s ease;
}
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
  transform: none !important;
}
.embla__slide {
  position: relative;
  flex: 0 0 50%;
}
#active {
  height: auto;
  opacity: 1;
  visibility: visible;
  padding-top: 30px;
  clear: both;
}
#activate {
  overflow-y: scroll;
  height: 100%;
}
#activePortfolioLink {
  color: #68e0cf;
}

footer {
  padding: 0;
  position: fixed;
  bottom: 40px;
  right: 0;
  width: 92px;
  height: 1px;
  z-index: 99;
}
footer::before {
  content: '';
  position: absolute;
  bottom: -50vh;
  left: 0;
  width: 1px;
  height: 200vh;
  background: #585d65;
}

@keyframes fadeIn {
  0%   {opacity: 0%;
        display: inline-block;
       }
  50%  {opacity: 50%;}
  100% {opacity: 100%;}
}
@keyframes fadeOut {
  0%   {opacity: 100%;}
  50%  {opacity: 50%;}
  100% {
        display: none;
        opacity: 0%;
      }
}

/*  X-Small devices (portrait phones, less than 576px) */
@media (min-width: 300px) and (max-width: 576px) { 
  .footer::before {
    top: 50%;
    bottom: auto;
    left: 0;
    width: 100%;
    height: 1px;
  }
  footer {
    margin: 0 0 50px;
    padding: 0;
    position: relative;
    bottom: auto;
    height: auto;
    width: 100%;
  }
  header li {
    margin-left: 0px;
    padding: 14px;
  }
}

/* // Small devices (landscape phones, less than 768px) */
@media (min-width: 577px) and (max-width: 767.98px) { 
  .footer::before {
    top: 50%;
    bottom: auto;
    left: 0;
    width: 100%;
    height: 1px;
  }
  footer {
    margin: 0 0 50px;
    padding: 0;
    position: relative;
    bottom: auto;
    height: auto;
    width: 100%;
  }
  header li {
    margin-left: 0px;
    padding: 14px;
  }
}

/* // Medium devices (tablets, less than 992px) */
@media (min-width: 767.99px) and (max-width: 991.98px) { 
  .footer::before {
    top: 50%;
    bottom: auto;
    left: 0;
    width: 100%;
    height: 1px;
  }
  footer {
    margin: 0 0 50px;
    padding: 0;
    position: relative;
    bottom: auto;
    height: auto;
    width: 100%;
  }
  header li {
    margin-left: 0px;
    padding: 14px;
  }
}

/* // Large devices (desktops, less than 1200px) */
@media (min-width: 991.99px) and (max-width: 1199.98px) { 
  
}