.mainWrapper {
    font-family: 'Poppins', sans-serif;
    padding: 0 0 0 50px;
    position: fixed;
    left: 50px;
    right: 50px;
    top: 40px;
    height: 80px;
    z-index: 100;
    background: #585d65;
    border-radius: 80px;
    -moz-border-radius: 80px;
    -webkit-border-radius: 80px;
    -o-border-radius: 80px;
    transition: all .7s cubic-bezier(.165,.85,.45,1);
    -moz-transition: all .7s cubic-bezier(.165,.85,.45,1);
    -webkit-transition: all .7s cubic-bezier(.165,.85,.45,1);
    -o-transition: all .7s cubic-bezier(.165,.85,.45,1);
}
.logo {
    position: relative;
    float: left;
    width: auto;
    height: 80px;
    display: flex;
    font-size: 0;
    line-height: 1.2;
    font-weight: 800;
    color: #fff;
    align-items: center;
}
.logoText {
    font-size: 17px;
    text-decoration: none;
    display: inline-block;
    max-width: 150px;
    margin-left: 30px;
}
.download {
    color: #68e0cf;
    float: right;
    margin-top: 8px;
    margin-right: 8px;
    padding: 0 35px;
    position: relative;
    overflow: hidden;
    height: 64px;
    line-height: 62px;
    text-align: center;
    font-size: 12px;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    background: 0 0;
    outline: none;
    border: 1px solid #68e0cf;
    cursor: pointer;
    border-radius: 64px;
    -moz-border-radius: 64px;
    -webkit-border-radius: 64px;
    -khtml-border-radius: 64px;
    transition: 1s all cubic-bezier(.165,.85,.45,1) 0s;
    -moz-transition: 1s all cubic-bezier(.165,.85,.45,1) 0s;
    -webkit-transition: 1s all cubic-bezier(.165,.85,.45,1) 0s;
    -o-transition: 1s all cubic-bezier(.165,.85,.45,1) 0s;
}
.btnAnimation {
    position: relative;
    top: -1px;
    display: inline-block;
    vertical-align: middle;
    line-height: 16px;
}
.downloadBtnSpan {
    text-shadow: 0 16px 0 #68e0cf;
    position: relative;
    overflow: hidden;
    display: block;
}
.menuBtnSpan {
    text-shadow: 0 16px 0 #68e0cf;
    position: relative;
    overflow: hidden;
    display: block;
}
.mainMenu {
    margin-right: 50px;
    float: right;
    color: #ffffff;
}
.menuList {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 80px;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
}
.svg {
    width: 1em;
    margin-left: 10px;
}
.mobileMenuBtn {
    padding: 20px;
    position: relative;
    margin: 0 auto;
        margin-top: 0px;
    margin-top: 8px;
    width: 64px;
    height: 64px;
    line-height: 62px;
    display: none;
    border: 1px solid rgba(255,255,255,.7);
    border-radius: 64px;
    -moz-border-radius: 64px;
    -webkit-border-radius: 64px;
    -khtml-border-radius: 64px;
}
.mobileMenuBtn::before, .mobileMenuBtn::after {
    content: '';
    position: absolute;
    top: 22px;
    left: 20px;
    right: 20px;
    height: 2px;
    background: #fff;
    transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
}
.mobileMenuBtn::after {
    top: auto;
    bottom: 22px;
}
.mobileMenuSpan {
    position: absolute;
    top: 50%;
    left: 25px;
    right: 25px;
    height: 2px;
    background: #fff;
    margin-top: -1px;
    transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
}
/*  X-Small devices (portrait phones, less than 576px) */
@media (min-width: 300px) and (max-width: 575.98px) { 
    .mainWrapper {
        background: #585d65;
        padding: 0 30px;
        left: 0;
        right: 0;
        top: 0;
        height: 80px;
        border-radius: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        -khtml-border-radius: 0;
    }
    .download {
        display: none;
    }
    .mainMenu {
        position: relative;
        top: 0;
        left: 0;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        float: none;
        width: auto;
        height: 0;
        text-align: center;
        opacity: 0;
        visibility: hidden;
        transition: opacity .35s cubic-bezier(.165,.85,.45,1);
        -moz-transition: opacity .35s cubic-bezier(.165,.85,.45,1);
        -webkit-transition: opacity .35s cubic-bezier(.165,.85,.45,1);
        -o-transition: opacity .35s cubic-bezier(.165,.85,.45,1);
    }
    .mobileMenuBtn {
        display: block;
        float: right;
    }
    .menuList {
        flex-direction: column;
    }
}

/* // Small devices (landscape phones, less than 768px) */
@media (min-width: 577px) and (max-width: 767.98px) { 
    .mainWrapper {
        background: #585d65;
        padding: 0 30px;
        left: 0;
        right: 0;
        top: 0;
        height: 80px;
        background: 0 0;
        border-radius: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        -khtml-border-radius: 0;
    }
    .download {
        display: none;
    }
    .mainMenu {
        position: relative;
        top: 0;
        left: 0;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        float: none;
        width: auto;
        height: 0;
        text-align: center;
        opacity: 0;
        visibility: hidden;
        transition: opacity .35s cubic-bezier(.165,.85,.45,1);
        -moz-transition: opacity .35s cubic-bezier(.165,.85,.45,1);
        -webkit-transition: opacity .35s cubic-bezier(.165,.85,.45,1);
        -o-transition: opacity .35s cubic-bezier(.165,.85,.45,1);
    }
    .mobileMenuBtn {
        display: block;
        float: right;
    }
    .menuList {
        flex-direction: column;
    }
}

/* // Medium devices (tablets, less than 992px) */
@media (min-width: 767.99px) and (max-width: 991.98px) { 
    .mainWrapper {
        background: #585d65;
        padding: 0 30px;
        left: 0;
        right: 0;
        top: 0;
        height: 80px;
        border-radius: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        -khtml-border-radius: 0;
    }
    .download {
        display: none;
    }
    .mainMenu {
        position: relative;
        top: 0;
        left: 0;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        float: none;
        width: auto;
        height: 0;
        text-align: center;
        opacity: 0;
        visibility: hidden;
        transition: opacity .35s cubic-bezier(.165,.85,.45,1);
        -moz-transition: opacity .35s cubic-bezier(.165,.85,.45,1);
        -webkit-transition: opacity .35s cubic-bezier(.165,.85,.45,1);
        -o-transition: opacity .35s cubic-bezier(.165,.85,.45,1);
    }
    .mobileMenuBtn {
        display: block;
        float: right;
    }
    .menuList {
        flex-direction: column;
    }
}

/* // Large devices (desktops, less than 1200px) */
@media (min-width: 991.99px) and (max-width: 1199.98px) { 
    
 }
