.container {
  margin: 0;
  position: relative;
  overflow: hidden;
}
.main {
  position: relative;
  margin-top: 50px;
  margin-left: 45%;
  margin-right: 92px;
}
.main::before {
  background-color: #373b40;
  content: '';
  position: fixed;
  left: 45%;
  right: 92px;
  top: 0;
  height: 40px;
  background: #373b40;
      background-color: rgb(55, 59, 64);
  z-index: 13;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}


/*  X-Small devices (portrait phones, less than 576px) */
@media (min-width: 300px) and (max-width: 575.98px) { 
  .main::before {
    display: none;
  }
  .main {
    position: relative;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

/* // Small devices (landscape phones, less than 768px) */
@media (min-width: 577px) and (max-width: 767.98px) { 
  .main::before {
    display: none;
  }
  .main {
    position: relative;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

/* // Medium devices (tablets, less than 992px) */
@media (min-width: 767.99px) and (max-width: 991.98px) { 
    .main::before {
      display: none;
    }
    .main {
      position: relative;
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
    }
}

/* // Large devices (desktops, less than 1200px) */
@media (min-width: 991.99px) and (max-width: 1199.98px) { 
    .main::before {
      left: 30%;
    }
    .main {
      margin-left: 30%;
    }
 }
