.mainWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 45%;
    height: 100%;
}
.main::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: -moz-radial-gradient(center,ellipse cover,rgba(0,0,0,.5) 0%,#373b40 90%);
    background: -webkit-radial-gradient(center,ellipse cover,rgba(0,0,0,.5) 0%,#373b40 90%);
    background: radial-gradient(ellipse at center,rgba(0,0,0,.5) 0%,#373b40 90%);
}
.main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-filter: none;
    filter: none;
    mix-blend-mode: unset;
    background-image: url('../public/profile.jpeg');
}

/*  X-Small devices (portrait phones, less than 576px) */
@media (min-width: 300px) and (max-width: 576px) { 
    .img {
        background-image: url('../public/profile2.jpg');
    }
    .mainWrapper {
        position: relative;
        width: 100%;
        height: 60vh;
    }
}

/* // Small devices (landscape phones, less than 768px) */
@media (min-width: 577px) and (max-width: 767.98px) { 
    .img {
        background-image: url('../public/profile2.jpg');
    }
    .mainWrapper {
        position: relative;
        width: 100%;
        height: 60vh;
    }
}

/* // Medium devices (tablets, less than 992px) */
@media (min-width: 767.99px) and (max-width: 991.98px) { 
    .mainWrapper {
        position: relative;
        width: 100%;
        height: 60vh;
    }
    .img {
        background-image: url('../public/profile2.jpg');
    }
}

/* // Large devices (desktops, less than 1200px) */
@media (min-width: 991.99px) and (max-width: 1199.98px) { 
    .mainWrapper {
        width: 30%;
    }
    .img {
        background-image: url('../public/profile2.jpg');
    }
 }

