.portfolioWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    font-family: 'Poppins', sans-serif;
}
.container {
    -webkit-transition: background .3s,border .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;
    transition: background .3s,border .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;
    -o-transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;
    position: relative;
    overflow: hidden;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 70px;
    padding-bottom: 70px;
    border-bottom: 1px solid #585d65;
    z-index: 12;
    width: 100%;
}
.content {
    position: relative;
    max-width: 820px;
}
.title {
    position: relative;
    margin: 0 0 60px;
}
.h2Title {
    margin: 0 0 10px;
    max-width: 70%;
    font-size: 49px;
    line-height: 1.2;
    color: #fff;
    font-weight: 800;
    transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
}
.subtitle {
    font-size: 14px;
    line-height: 1.2;
    color: #68e0cf;
    font-weight: 600;
    text-transform: uppercase;
}
.filterMenu {
    margin-left: 1%;
}
.menuItem {
    display: inline-block;
    vertical-align: top;
}
.span {
    display: inline-block;
    vertical-align: top;
    margin-right: 25px;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    padding-bottom: 0;
    font-family: "Poppins";
    font-size: 14px;
    transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
}
.radioInput {
    display: none;
    -webkit-appearance: radio;
    width: auto;
    height: auto;
    margin-bottom: 10px;
    margin-right: 0;
    margin-left: 0;
    padding: 0 30px;
    font-family: "Poppins";
    font-size: 14px;
    color: #fff;
    background: 0 0 !important;
    border: 1px solid #585d65;
    resize: none;
    outline: 0;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -khtml-border-radius: 30px;
}
.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 14px 0;
}
.gridItem {
    position: relative;
    cursor: pointer;
    min-height: 200px;
    width: calc(50% - 2%);
    max-height: 250px;
    margin: 1%;
}
.overlay {
    color: #fff;
    position: absolute;
    content: '';
    background-color: #68e0cf;
    margin: 6%;
    height: 88%;
    width: 88%;
    transform: scale(0);
    transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gridItem:hover .overlay {
    transform: scale(1);
}

/*  X-Small devices (portrait phones, less than 576px) */
@media (min-width: 300px) and (max-width: 576px) { 
    .h2Title {
        font-size: 35px;
        margin: 0 auto 10px;
    }
    .title {
        margin-bottom: 40px;
        text-align: center;
    }
    .gridItem {
        width: calc(100% - 2%);
    }
 }

/* // Small devices (landscape phones, less than 768px) */
@media (min-width: 577px) and (max-width: 767.98px) { 
    .gridItem {
        width: calc(100% - 2%);
    }
 }

/* // Medium devices (tablets, less than 992px) */
@media (min-width: 767.99px) and (max-width: 991.98px) { 
    
 }