.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    font-family: 'Poppins', sans-serif;
}
.container {
    -webkit-transition: background .3s,border .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;
    transition: background .3s,border .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;
    -o-transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;
    position: relative;
    overflow: hidden;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 70px;
    padding-bottom: 70px;
    border-bottom: 1px solid #585d65;
    z-index: 12;
    width: 100%;
}
.content {
    position: relative;
    max-width: 820px;
}
.title {
    position: relative;
    margin: 0 0 60px;
}
.h2Title {
    margin: 0 0 10px;
    max-width: 70%;
    font-size: 49px;
    line-height: 1.2;
    color: #fff;
    font-weight: 800;
    transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
}
.subtitle {
    font-size: 14px;
    line-height: 1.2;
    color: #68e0cf;
    font-weight: 600;
    text-transform: uppercase;
}
.contentCarousel {
    position: relative;
    z-index: 2;
    color: #ffffff;
}
.carouselNav::before {
    content: '';
    position: absolute;
    left: 18px;
    top: 32px;
    width: 1000%;
    height: 1px;
    background: #585d65;
}
.carouselNav {
    position: absolute;
    left: auto;
    right: 0;
    top: -150px;
    height: 1px;
    z-index: 3;
    font-size: 0;
}
.span {
    display: inline-block;
    margin-left: 15px;
    margin-top: 0;
    position: relative;
    top: 0;
    left: 0;
    right: auto;
    width: 64px;
    height: 64px;
    line-height: 62px;
    background: #373b40;
        background-color: rgb(55, 59, 64);
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border: 1px solid #585d65;
    border-radius: 64px;
    -moz-border-radius: 64px;
    -webkit-border-radius: 64px;
    -khtml-border-radius: 64px;
    transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
}
.svg {
    width: 1em;
    margin-left: 0;
    position: relative;
    vertical-align: text-bottom;
}
.pricingSvg {
    width: 100%;
    margin-left: 0;
    position: relative;
    vertical-align: text-bottom;
}
.pricingItem {
    position: relative;
    text-align: center;
}
.icon {
    color: #68e0cf;
    width: 32px;
    margin: 0 auto;
}
.name {
    margin: 15px 0;
    font-size: 18px;
    color: #fff;
    font-weight: 800;
}
.amount {
    margin: 30px 0;
}
.priceWrapper {
    margin: 0;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 54px;
    line-height: 36px;
    font-weight: 800;
    color: #fff;
}
.currency {
    position: absolute;
    left: -15px;
    top: -5px;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 14px;
    color: rgba(255,255,255,.8);
    font-weight: 400;
}
.integer {
    display: inline-block;
    vertical-align: middle;
    font-size: 54px;
    line-height: 36px;
    font-weight: 800;
    color: #fff;

}
.features {
    margin-bottom: 30px;
}
.list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.listItem {
    margin: 10px 0;
    font-size: 14px;
}