.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    font-family: 'Poppins', sans-serif;
}
.container {
    -webkit-transition: background .3s,border .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;
    transition: background .3s,border .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;
    -o-transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;
    padding-bottom: 70px;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 70px;
    z-index: 12;
    width: 100%;
    border-bottom: 1px solid #585d65;
}
.content {
    position: relative;
    max-width: 820px;
}
.centrize {
    display: table !important;
    table-layout: fixed !important;
    height: 100% !important;
    position: relative !important;
    top: 0;
    left: 0;
    z-index: 2;
    max-width: 100%;
    width: 100%;
}
.verticalCentrize {
    display: table-cell !important;
    vertical-align: middle !important;
}
.h1Title {
    margin: 10px 0 0 -11vw;
    padding: 3.9vw;
    font-size: 3.7vw;
    line-height: 1.4;
    font-weight: 800;
    color: #fff;
    background: #373b40;
        background-color: rgb(55, 59, 64);
    word-break: break-word;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    border-radius: 264px;
    -moz-border-radius: 264px;
    -webkit-border-radius: 264px;
    -khtml-border-radius: 264px;
}

.subtitle {
    margin: 0 0 30px;
    height: 18px;
}
.typedSubtitle {
    display: inline-block;
    font-size: 14px;
    line-height: 1.2;
    color: #68e0cf;
    font-weight: 600;
    text-transform: uppercase;
}
.text {
    margin: 0 0 30px;
    font-size: 14px;
}
.paragraph {
    font-size: 14px;
    padding: 0;
    margin: 30px 0;
    color: #fff;
    font-weight: 400;
    line-height: 26px;
    font-family: "Poppins";
    text-align: justify;
}
.contactBtn {
    -webkit-box-shadow: none;
    box-shadow: none;
    text-decoration: none;
    padding: 0 35px;
    margin-right: 15px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    height: 64px;
    line-height: 62px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    background: 0 0;
    outline: none;
    border: 1px solid #585d65;
    cursor: pointer;
    border-radius: 64px;
    -moz-border-radius: 64px;
    -webkit-border-radius: 64px;
    -khtml-border-radius: 64px;
    transition: 1s all cubic-bezier(.165,.85,.45,1) 0s;
    -moz-transition: 1s all cubic-bezier(.165,.85,.45,1) 0s;
    -webkit-transition: 1s all cubic-bezier(.165,.85,.45,1) 0s;
    -o-transition: 1s all cubic-bezier(.165,.85,.45,1) 0s;
}
.btnAnimation {
    position: relative;
    top: -1px;
    display: inline-block;
    vertical-align: middle;
    line-height: 16px;
}
.welcomeBtnSpan {
    text-shadow: 0 16px 0 #68e0cf;
    position: relative;
    overflow: hidden;
    display: block;
}
.svg {
    width: 1em;
    margin-left: 0;
    position: relative;
    top: 0px;
    left: 0;
    animation: chevronBounce 1s ease-out 0s infinite;
}


@keyframes chevronBounce {
    0%   {top: 0px;}
    50%  {top: 7px;}
    100% {top: 0px;}
  }

/*  X-Small devices (portrait phones, less than 576px) */
@media (min-width: 300px) and (max-width: 576px) { 
    .wrapper {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .container {
        margin: 0;
        padding-top: 0;
        padding-left: 8%;
        padding-right: 8%;
        padding-bottom: 70px;
        height: auto !important;
        text-align: center;
    }
    .h1Title {
        margin: 0 auto;
        margin-top: -140px;
        padding: 60px 15px 15px;
        width: auto;
        font-size: 33px;
        background: #373b40;
            background-color: rgb(55, 59, 64);
        border-radius: 360px 360px 0 0;
        -moz-border-radius: 360px 360px 0 0;
        -webkit-border-radius: 360px 360px 0 0;
        -khtml-border-radius: 360px 360px 0 0;
    }
 }

/* // Small devices (landscape phones, less than 768px) */
@media (min-width: 577px) and (max-width: 767.98px) { 
    .wrapper {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .container {
        margin: 0;
        padding-top: 0;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 70px;
        height: auto !important;
        text-align: center;
    }
    .h1Title {
        margin: 0 auto;
        margin-top: -200px;
        padding: 70px 35px 30px;
        width: 480px;
        font-size: 60px;
        background: #373b40;
            background-color: rgb(55, 59, 64);
        border-radius: 360px 360px 0 0;
        -moz-border-radius: 360px 360px 0 0;
        -webkit-border-radius: 360px 360px 0 0;
        -khtml-border-radius: 360px 360px 0 0;
    }
 }

/* // Medium devices (tablets, less than 992px) */
@media (min-width: 767.99px) and (max-width: 991.98px) { 
    .wrapper {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .container {
        margin: 0;
        padding-top: 0;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 70px;
        height: auto !important;
        text-align: center;
    }
    .h1Title {
        margin: 0 auto;
        margin-top: -200px;
        padding: 65px 35px 30px;
        width: 480px;
        font-size: 50px;
        background: #373b40;
            background-color: rgb(55, 59, 64);
        border-radius: 360px 360px 0 0;
        -moz-border-radius: 360px 360px 0 0;
        -webkit-border-radius: 360px 360px 0 0;
        -khtml-border-radius: 360px 360px 0 0;
    }
 }